/*-- scss:defaults --*/

// Fonts -----
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

// Colors -----
$body-bg: #fafafa !default;
$primary: #0c61a4 !default;
$light: #eeeeee !default;
$dark: #05397e !default;
$info: #5590bf !default;
$danger: #b9292f !default;
$warning: #ed5f00 !default;

// Typography -----
$body-color: #222222 !default;
$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif !default;
$presentation-font-size-root: 38px !default;
$presentation-font-smaller: 0.8 !default;
$presentation-line-height: 1.2 !default;
$presentation-title-slide-text-align: left !default;
$presentation-h1-font-size: 2em !default;
$presentation-h3-font-size: 1.2em !default;
$link-color: $primary !default;

// Code -----
$code-color: $dark !default;
$code-block-font-size: 0.65em !default;
$code-block-bg: rgba($light, 0.65) !default;
$code-block-border-color: $light !default;
$code-bg : $code-block-bg !default;


/*-- scss:rules --*/

// Title slide -----
.reveal h1.title {
 color: $primary;
}
.reveal p.subtitle {
  font-size: $presentation-h3-font-size;
  font-weight: 700;
  margin-top: 0px;
}
.quarto-title-author-name {
  font-size: 0.8em;
}
.reveal .quarto-title-block .quarto-title-authors .quarto-title-author .quarto-title-affiliation {
  font-size: 0.8em;
  margin-bottom: 0.1em;
}
.reveal p.date {
  font-size: 0.6em;
  color: $text-muted;
  margin-top: 0px;
}

// Headings -----
.reveal h2 {
  margin-bottom: calc($presentation-block-margin * 2);
  color: $primary;
}

// Aside -----
.reveal .slide aside {
  font-size: 0.6em;
}
.reveal .slide aside > div > p {
  margin-top: 0px;
  margin-bottom: 6px;
}

// Lists -----
.reveal .slide ul > li > ul > li {
  font-size: 0.8em;
}

// Tables -----
.reveal table {
  margin-left: 0;
  font-size: 0.8em;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
}
table > caption {
  color: $text-muted;
  text-align: left;
  margin: 6px 0px 6px 0px;
}
.reveal table th, .reveal table td {
  vertical-align: middle;
}
.reveal table td {
  border-bottom-color: var(--quarto-border-color);
}
.reveal .slide table td > ul {
  margin-bottom: 0px;
}

// Callouts -----
.callout.callout-style-simple div.callout-title {
  opacity: 100% !important;
}
.callout.callout-style-default div.callout-title {
  opacity: 100% !important;
}

// Code -----
.reveal pre {
  line-height: 1.2;
}
div.cell {
  margin-top: $presentation-block-margin;
  border: 1.5px solid $light;
  border-radius: $border-radius;
}
div.cell-output.cell-output-stdout > pre {
  background-color: transparent;
  padding: 0.4em 0em 0.4em 0em;
}
div.cell > div.sourceCode:not(:first-child) {
  margin-top: 1rem;
}

// Miscellaneous -----
.reveal a {
  text-decoration: underline;
}
.reveal small {
  font-size: 0.8em;
  line-height: 1.1em;
}


