/*-- scss:defaults --*/

// Fonts -----
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;600;700&display=swap");

// Colors -----
$body-bg: #fafafa !default;
$primary: #0c61a4 !default;
$light: #eeeeee !default;
$dark: #05397e !default;
$info: #5590bf !default;
$danger: #b9292f !default;
$warning: #ed5f00 !default;

// Typography -----
$body-color: #222222 !default;
$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif !default;
$headings-font-family: "Roboto Condensed", Helvetica, Arial, sans-serif !default;
$font-size-root: 1.15rem !default;
$line-height-base: 1.8 !default;
$toc-font-size: 0.9rem !default;
$toc-active-border: transparent !default;
$toc-inactive-border: transparent !default;
$headings-font-weight: 700 !default;
$h2-font-size: 1.8rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.3rem !default;
$h5-font-size: 1.1rem !default;

// Code -----
$code-color: $dark !default;

// Callouts -----
$callout-color-note: $primary !default;
$callout-color-tip: $primary !default;
$callout-color-caution: $warning !default;
$callout-color-warning: $warning !default;
$callout-color-important: $danger !default;


/*-- scss:rules --*/

// Headings -----
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  opacity: 100%;
  font-weight: $headings-font-weight;
}
h1.title {
  font-size: 2.2rem;
}
p.subtitle {
  font-family: $headings-font-family;
  font-size: $h3-font-size;
  margin: 0px;
}
.header-section-number {
  color: inherit;
}
.header-section-number::after {
  content: ".";
}

// Table of contents -----
.sidebar nav[role="doc-toc"] > h2, .sidebar nav[role="doc-toc"] > .h2 {
  font-size: 1rem;
}
.sidebar nav[role="doc-toc"] > ul li a {
  padding-left: 0px;
}
.sidebar nav[role="doc-toc"] ul > li > a.active {
  font-weight: 400;
}

// Tables -----
table > caption {
  text-align: left;
  font-size: 1rem;
}
table td > ul {
  margin-bottom: 0px;
}

// Callouts -----
.callout.callout-style-simple div.callout-header {
  opacity: 100% !important;
}
.callout.callout-style-default div.callout-header {
  opacity: 100% !important;
}


// Footnotes ----
.footnotes > ol > li {
  margin-bottom: 0.8rem;
}
.footnotes > ol > li > p {
  margin-bottom: 0.4rem;
}

// Code ----
pre code {
  line-height: 1.2;
}
div.cell {
  border: 1px solid $light;
  border-radius: $border-radius;
  margin-bottom: 1rem;
}
div.cell > div.sourceCode {
  margin-top: 0;
  margin-bottom: 0;
}
div.cell-output.cell-output-stdout > pre {
  padding: 0.4em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
div.cell > div.sourceCode:not(:first-child) {
  margin-top: 1em;
}

